.Profile-all {
  display: flex;
}

.Profilepage-30 {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
}

.Profilepage-70 {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
  left: 30%;
}

.Profilepage-100 {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
}

.Profile-left {
  padding: 8px;
  margin: 8px;
  top: 100px;
}

.Profile-right {
  padding: 8px;
  margin: 8px;
}

.Profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100px;
  top: 100px;
}

.Profile-name {
  font-size: 36px;
}

.Profile-about {
  font-size: 16px;
}

.Profile-picContainer {
  padding: 1%;
}

.Profile-pic {
  object-fit: cover;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  display: block;
}

.Profile-interaction {
  font-size: 16px;
}

.Profile-personal {
  display: flex;
  padding: var(--l) 0;
}

.Profile-button {
  color: var(--medgrey);
  font-size: 16px;
  padding: 0;
  margin: 0 4px 0 4px;
}

.Profile-button:hover {
  color: var(--primary);
}

.Profile-modalButton {
  display: flex;
  justify-content: right;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-70 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

label {
  padding: 12px;
  display: inline-block;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Poppins";
}

.Collection-scroll {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
  column-gap: var(--m);
}

.Collection-scroll::-webkit-scrollbar {
  display: none;
}

.editButton-Container {
  background-color: transparent;
}

.editButton-Container:hover {
  background-color: transparent;
}
