.Profile-container {
    display: flex;
    justify-content: center;
    padding: .35%;
}

.Profile-name {
    font-size: 40px;
}

.Profile-about {
    font-size: 20px;
}

.Profile-picContainer {
    padding: 1%;
}

.Profile-pic {
    border-radius: 50%;
    display: block;
}

.Profile-interaction {
    font-size: 20px;
}

.Profile-button {
    color: var(--medgrey);
    font-size: 15px;
}

.Profile-button:hover {
    color: var(--primary);
}

.Profile-modalContent {
    align-self: center;
    background: var(--white);
    padding: .5%;
    width: 70%;
}

.Profile-modalContainer {
    justify-content: center;
    display: flex;
    position: fixed;
    padding: 0;
    margin:0;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background: var(--translucent);
}

.Profile-modalButton {
    display: flex;
    justify-content: right;
}

.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
  }
  
.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
  }

label {
    padding: 12px;
    display: inline-block;
  }

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Poppins";
  }

.Profile-collections {
    margin: 0;
}
