.Profile-all {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.Profile-left {
  padding: 8px;
  margin: 8px;
  position: relative;
  top: 100px;
}

.Profile-right {
  padding: 8px;
  margin: 8px;
}

.Profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative;
  top: 100px; */
  position: sticky;
  top: 100px;
}

.Profile-name {
  font-size: 36px;
}

.Profile-about {
  font-size: 16px;
}

.Profile-picContainer {
  padding: 1%;
}

.Profile-pic {
  object-fit: cover;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  display: block;
}

.Profile-interaction {
  font-size: 16px;
}

.Profile-personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}

.Profile-button {
  color: var(--medgrey);
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.Profile-button:hover {
  color: var(--primary);
}

.Profile-modalButton {
  display: flex;
  justify-content: right;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-70 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

label {
  padding: 12px;
  display: inline-block;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Poppins";
}

.Collection-scroll {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
  column-gap: var(--m);
}

.Collection-scroll::-webkit-scrollbar {
  display: none;
}
