.Collection-shoeContainer {
  border: 1px solid var(--black);
  border-radius: 12px;
  padding: 12px;
  margin: 4px 16px 4px 16px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}


.Collection-name {
  font-size: 18px;
  padding: 0;
  margin: 0px 0px 24px 24px;
}

.Shoe-container {
  padding: 4px;
  display: block;
}
