.Collection-shoeContainer {
  display: flex;
  border: 1px solid var(--black);
  border-radius: 12px;
  padding: 12px;
  margin: var(--m);
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.Collection-name {
  font-size: 18px;
  padding: 0 0.5%;
}

.Shoe-container {
  padding: 4px;
  display: block;
}

.Collection-shoeContainer::-webkit-scrollbar {
  display: none;
}
