.navContainer {
  background-color: var(--black);
  -webkit-text-fill-color: var(--white);
  padding: 0 2%;
}

.nav-link,
.nav-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 1;
  transition-duration: 0.6s;
}
