.navContainer {
  background-color: var(--black);
  -webkit-text-fill-color: var(--white);
  padding-left: 0%;
}

.nav-link,
.nav-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 1;
  transition-duration: 0.6s;
}

.profile-icon {
  height: 30px;
  width: auto;
  border-radius: 50%;
}

.logo-icon {
  height: auto;
  width: 280px;
}
