.Profilecard-container {
  border-radius: 12px;
  border: 2px solid var(--black);
  padding: 4px;
  display: block;
}

.Profilecard-container:hover {
  transition-duration: 0.4s;
  border: 2px solid var(--primary);
}

.Profilecard-info {
  display: flex;
  width: 400px;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.Profilecard-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Profilecard-name {
  font-size: 20px;
  font-weight: 500;
}

.Profilecard-about {
  font-size: 12px;
  font-weight: 350;
}

.Profilecard-icon {
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  max-height: 150px;
  align-self: center;

  height: 150px;
  width: auto;
  margin: 2%;
  border-radius: 50%;
  border: 1px var(--white);
  transition-duration: 0.4s;
}

.Profilecard-icon:hover {
  border: 1px solid var(--primary);
}

.Follow-heartContainer {
  padding: 2px;
  align-self: last baseline;
}

.Follow-heart {
  stroke-width: 1px;
  justify-self: center;
}

.Follow-heart:hover {
  transition-duration: 0.4s;
  color: var(--primary);
}

.Following-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
