.Listing-info {
  display: flex;
  width: 250px;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.Listing-info {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.Listing-info::-webkit-scrollbar {
  display: none;
}

.Listing-name {
  font-size: var(--m);
  font-weight: 500;
}

.Listing-colorway {
  font-size: 12px;
  font-weight: 350;
}

.Listing-release {
  font-size: 12px;
  font-weight: 200;
}

.Listing-icon {
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  max-width: 160px;
  height: auto;
  max-height: 100px;
  align-self: center;
  margin: 4px;
}

.Listing-container {
  border-radius: 12px;
  border: 1px solid var(--black);
  padding: 8px;
  display: block;
  width: 250px;
  white-space: nowrap;
  overflow-x: scroll;
}

.Listing-container::-webkit-scrollbar {
  display: none;
}

.Listing-container:hover {
  transition-duration: 0.4s;
  border: 1px solid var(--primary);
}

.listing-button,
.listing-button:visited {
  font-size: 12px;
  color: var(--black);
}

.listing-button:hover {
  color: var(--primary);
  transition-duration: 0.4s;
}

.buy-link {
  box-sizing: border-box;
  font-size: 10px;
  padding: 4px 8px 4px 8px;
  border: 1px solid var(--black);
  margin: 4px;
}

.buy-link:hover {
  border: solid var(--primary);
}

.Buy-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 2px;
}

.Listing-heartContainer {
  padding: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Listing-modalContent {
  align-self: center;
  background: var(--white);
  padding: 0.5%;
  width: 70%;
  border-radius: 12px;
}

.Listing-modalContainer {
  justify-content: center;
  display: flex;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--translucent);
}

.Collections-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  column-gap: 8px;
}

.Collections-scroll::-webkit-scrollbar {
  display: none;
}
